* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  min-width: 320px;

  background: #070b11;
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;

  background: #070b11;

  font-family:
    Inter,
    Arial,
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}